<div class="card" style="width: 35rem;">
  <img src="https://ep01.epimg.net/elcomidista/imagenes/2016/07/27/receta/1469653710_388939_1469654036_sumario_normal.jpg" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Ratatouille</h5>

    <div class="row justify-content-around">
      <div class="col-8">
        Chef: Karen Ceballos
      </div>
      <div class="col-4">
        Preparación 04:47
      </div>
    </div>
  </div>

  <!--Lista-->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row justify-content-around">
        <div class="col-8">
          Originalidad
        </div>
        <div class="col-4">
          ⭐⭐⭐⭐⭐
      </div>
      </div>

    </li>
    <li class="list-group-item">
      <div class="row justify-content-around">
        <div class="col-8">
          Armonía
        </div>
        <div class="col-4">
          ⭐⭐⭐⭐⭐
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row justify-content-around">
        <div class="col-8">
          Presentación
        </div>
        <div class="col-4">
          ⭐⭐⭐⭐
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row justify-content-around">
        <div class="col-8">
          Cocción
        </div>
        <div class="col-4">
          ⭐⭐⭐⭐⭐
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row justify-content-around">
        <div class="col-8">
          Balance
        </div>
        <div class="col-4">
          ⭐⭐⭐⭐⭐
        </div>
      </div>
    </li>

  </ul>
</div>
